.row2 {
    width: 100%;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 2px;
    border: 1px solid #6c757d;
    margin-top: 6px;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #000102;
    margin: 3px 0px;
    margin-left: 10px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: 200;
}

table.table-bordered tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    padding: 6px 5px;
    font-size: 14px;
    font-weight: bold;
}

.jumbotron {
    padding: 0px 16px;
    margin-bottom: 2rem;
    background-color: #00ac69;
    border-radius: 0rem;
    color: #fff;
    text-align: left;
    /* line-height: 21px; */
}

.butt{
    border-bottom: 1px solid black;
    padding: 2px 17px 3px 10px;
    margin-top: 2px;
}

.tick{
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    padding: 6px;
    line-height: 21px;
}

.container-fluid {
    width: 100%;
    text-align: right;
    border: 1px solid black;
    margin-left: 2px;
    padding: 2px 17px 3px 10px;
    margin-top: 2px;
}

.btn-success{
    background-color: #28a745;
    color: #fff;
}

.row2 {
    width: 100%;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 2px;
    border: 1px solid #6c757d;
    margin-top: 6px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
    font-weight: 100;
}

.odd-name{
    /* font-size: large; */
    font-weight: bold
  }
